<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
</head>
<body>
    <h1>Вход</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.email.label }} {{ form.email() }}</p>
        <p>{{ form.password.label }} {{ form.password() }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for('register') }}">Нет аккаунта? Зарегистрироваться</a>
</body>
</html>